<div class="create block mx-auto my-12 px-4 py-3 w-1/3 rounded-lg shadow-lg">
  <div class="icon-form">
    <ion-icon name="refresh-outline"></ion-icon>
  </div>
  <h1 class="text-center text-3xl font-bold">EDITAR MODELO</h1>
  {{#each modelo}}
    <form action="" method="POST" class="mt-4">
      <input type="text" class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2" placeholder="Sku..." name="sku" value="{{Sku}}">
      <textarea class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2 h-40" placeholder="Denominacion..." name="denominacion">{{Denominacion}}</textarea>
      <input type="text" class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2" placeholder="Limite inferior reproceso..." name="limite_inf_reproceso" value="{{Limite_inf_reproceso}}">
      <input type="text" class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2" placeholder="Limite superior reproceso..." name="limite_sup_reproceso" value="{{Limite_sup_reproceso}}">
      <input type="text" class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2" placeholder="Limite inferior observado..." name="limite_inf_observado" value="{{Limite_inf_observado}}">
      <input type="text" class="rounded-md w-full text-lg placeholder-gray-500 p-2 my-2" placeholder="Limite superior observado..." name="limite_sup_observado" value="{{Limite_sup_observado}}">
      {{>buttons_abm ruta = "modelo" button = "ACTUALIZAR"}}
    </form>
  {{/each}}
</div>